<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form action="/" method="post">
        <textarea name="text_area" id="text_area" cols="50" rows="5"></textarea>
        <input type="submit" value="Send" style="display: block; font-size: large;">
    </form>
</body>

</html>